@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&family=Signika+Negative:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/fondo/via\ veneto\ 3-min-min.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 500px) {
  body {
    width: 100%;
    height: 500px;
    background-repeat: repeat;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: 0;
}

button {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 50px;
}

/*logo*/
.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.logo img {
  width: 400px;
  height: 300px;
  margin: auto;
}

/*adaptacion para celular*/
@media (max-width: 500px) {
  .logo img {
    width: 300px;
    height: 200px;
    margin: auto;
  }
}

/*Parametros de logo*/

.container {
  display: flex;
  justify-content: center;
}

.container img {
  width: 250px;
  height: 200px;
}

/*Parametros del logo responsive para celular*/
@media (max-width: 467px) {
  .container {
    display: flex;
    justify-content: center;
  }

  .container img {
    width: 300px;
    height: 250px;
  }
}

/*titulo*/
.titulo {
  text-align: center;
  color: white;
  opacity: 0.7;
}

.grid-layout {
  width: 80%;
  margin: 0 auto;
}

/* comienzo del menu */
.container {
  /* padre de todo el menu */
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* responsive de container */
@media (max-width: 599px) {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

.pizza {
  /* padre de todos los items  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
}

/* reasponsive de pizza */
@media (max-width: 599px) {
  .pizza {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: transparent;

  }
}

.pizza .cont {
  /* padre de img y h3 */
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-top: 20px;
  background-image: url(../img/fondo.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height:normal;
  
}

/* responsive de pizza cont */
@media (max-width: 599px) {
  .pizza .cont {
    width: 170px;
    height: 170px;
    background-image: url(../img/fondo.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
  flex-direction: column;
  align-items: center;
  line-height:normal;
  }
}

.pizza .cont img {
  margin-top: 20px;
  width: 120px;
  height: 120px;

}
@media (max-width:467px) {
  .pizza .cont img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
}

.pizza .cont h3 {
  color: white;
  text-align: center;
}

.padre {
  width: 100%;
  display: flex;
  justify-content: center;
}

.padre2 {
  width: 50%;
  height: 400px;
}
@media (max-width: 467px) {
  .padre2 {
    width: 100%;
    height: auto;
  }
}

.padre2 .contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}
@media (max-width: 467px) {
  .padre2 .contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0;
  }
}

.padre2 .contenido .contenido-2 {
  display: flex;
  justify-content: center;
}

.padre2 .contenido img {
  width: 150px;
  height: 100px;
}

.padre2 .contenido h3 {
  color: white;
  font-size: 15px;
}

.padre2 .contenido h3 span p {
  font-weight: 100;
}

.padre .contenido p {
  color: white;
}

@media (max-width: 467px) {
  .padre2 .contenido img {
    width: 100px;
    height: 80px;
  }

  .padre2 .contenido h3 {
    color: white;
    font-size: 10px;
  }
}

nav {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  text-decoration: none !important;
}
.br ul li{
  text-align: center;
  text-decoration: none !important;
  color: white;
}
